.ai__badge-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1.069vw;
    row-gap: .8vw;
    margin-block-end: 1.537vw;
}

.ai__badge-wrapper > .ai__badge-logo{
    flex: 33% 1 1;
}

.ai__badge-wrapper> .ai__badge-logo:nth-child(3) > .ai-logo{
    scale: 1.5
}
