.ai__chat-window{
    background-image: url('../../../svg/border-element.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    block-size: 29.897vw;
    position: relative;
}

.ai__chat-window_small{
    background-image: url('../../../svg/border-element-xs.svg');
    block-size: 24.197vw;

}
