.ai__chat-window{
    background-image: url('../../../svg/border-element.svg');
    background-repeat: no-repeat;
    background-size: contain;
    block-size: 29.897vw;
    position: relative;
    padding-block: 3vw;
    overflow: hidden;
}

.ai__chat-window_small{
    background-image: url('../../../svg/border-element-xs.svg');
    block-size: 24.197vw;

}
