.ai__chat-messages{
    overflow-y: scroll;
    padding-inline: 1.537vw;
    position: absolute;
    inline-size: 100%;
    inline-size: 100%;
    padding-inline: 1.537vw;
    overflow-y: scroll;
    position: absolute;
    block-size: 85%;
    display: grid;
    align-items: end;
}

.ai__chat-messages::-webkit-scrollbar-track{
    width: 10px;
    background-color: red;
}

.ai__chat-messages::-webkit-scrollbar {
    display: none   ;
  }